.box {
    margin: 0.15rem 0;
    padding-left: 0.2rem;
    border-bottom: 0.025rem solid #eee;
    border-top: 0.025rem #eee;
    background-color: #fff;
    color: #333;
    font-size: 0.28rem;
    .box-li {
        padding: 0.3rem 0;
        border-bottom: 0.025rem solid #eee;
        position: relative;
        i.iconfont {
            font-size: 0.32rem;
            color: #aaa;
            position: absolute;
            right: .1rem;
            top: 50%;
            transform: translateY(calc(-50% + .02rem));
        }
        .label {
            display: inline-block;
            width: 1.4rem;
        }
        .enter {
            width: calc(100% - 1.5rem);
            min-height: 0.4rem;
            line-height: 1em;
            box-sizing: border-box;
            margin: 0;
            padding-right: .6rem;
            border: none;
            background-color: #fff;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
    .box-li:last-child {
        border-bottom: none;
    }
}

.box-img {
    text-align: center;
    img {
        border-radius: 50%;
    }
}