#personal-weixin {
    .title.box-img {
        box-sizing: border-box;
        background-color: #fff;
        height: 2.1rem;
        padding: 0.29rem;
        img {
            box-sizing: border-box;
            border: 0.04rem solid #fcb30c;
            height: 1.52rem;
            width: 1.52rem;
        }
    }
    .box {

        .box-li {
            position: relative;
            .iconfont {
                padding-right: 0;
                position: absolute;
                top: 50%;
                right: .2rem;
                transform: translateY(-50%);
            }
            .icon-questionfill {
                color: #fcb30c;
                font-size: 0.4rem;
            }


            input.enter.identifying-code {
                width: calc(100% - 3.5rem);
            }

            span.identifying-code {
                padding: 0.2rem 0;
                position: absolute;
                right: .2rem;
                top: 50%;
                width: 2rem;
                border: none;
                outline: none;
                transform: translateY(-50%);
            }
            span.identifying-code.disable {
                color: #999;
            }
        }
    }
    .or-cancel {
        p {
            margin: 0;
            padding: 0.4rem 0.2rem;
            line-height: 1.5em;
            background-color: #fff;
        }
    }
}