.btn {
    display: inline-block;
    width: 100%;
    padding: 0.25rem 0;
    border: 0.025rem solid #e5e5e5;
    background-color: #fff;
    color: #333;
    border-radius: 0.08rem;
    font-size: 0.28rem;
    text-align: center;
}

.btn-red {
    border-color: #ff5100;
    background-color: #ff5100;
    color: #fff;
}
