$x : 3.312;
$fontSize12: $x * 0.12rem;
$fontSize13: $x * 0.13rem;
$fontSize14: $x * 0.14rem;
$fontSize15: $x * 0.15rem;
$fontSize16: $x * 0.16rem;
$fontSize17: $x * 0.17rem;
$fontSize18: $x * 0.18rem;
$fontSize19: $x * 0.19rem;
$fontSize20: $x * 0.20rem;